section.dark {
  background: #222;
  height: 100%;
}
section.dark .gradient1 {
  color: #fff;
  display: inline-block;
  position: relative;
  color: #fff;
  background: #000;
  mix-blend-mode: lighten;
}
section.dark .gradient1::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('https://images.unsplash.com/photo-1511836536898-6d6f1b8f6948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  pointer-events: none;
  mix-blend-mode: multiply;
}
section.dark .gradient2 {
  color: #fff;
  display: inline-block;
  position: relative;
  color: #fff;
  background: #000;
  mix-blend-mode: lighten;
}
section.dark .gradient2::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670);
  pointer-events: none;
  mix-blend-mode: multiply;
}
/* Page styling, ignore */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}
.gradient1 {
  font-size: 20em;
  margin: 0.5em;
  opacity: 0.9;
}
.lee:hover {
  background: tomato;
}
